dource /Users/smat924/git/KindleScribeSync-mac/.venv/bin/activate
bug.log
cookies.pkl
notebooks.json
config.json
kindlescribesync.lock
venv/
kindle_notebooks/
extraction/
bear_pending_deletes.json
debug.log
bin/
notes_sync_state.json
notes_sync_cache/
notes_sync.lock
