dource /Users/smat924/git/KindleScribeSync-mac/.venv/bin/activate
bug.log
cookies.pkl
notebooks.json
config.json
kindlescribesync.lock
venv/
kindle_notebooks/
extraction/
bear_pending_deletes.json
debug.log
